:root{
    --color-texto: #0a0908;
    --color-background: #F5F3F4;
    --color-principal: #BA181B;
    --color-blanco: #ffffff;
    --color-categoria: #D3D3D3;
    --color-hover: #B1A7A6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: var(--color-texto);
    background-color: var(--color-background);
}
header{
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    text-align: center;
}
.logo{
    font-size: 2rem;
}
main{
    padding: 1.5rem;
}
footer{
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--color-principal);
    color: var(--color-blanco);
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}
.categoria{
    width: 15rem;
    height: 15rem;
    padding: 1.5rem;
    border-radius: .5rem;
    text-align: center;
    transition: background 0.3s;
    background: var(--color-categoria);
}
.categoria:hover{
    background: var(--color-hover);
}
.contenido{
    padding: .5rem;
}
@media screen and (max-width:1070px) {
    .catalogo{
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media screen and (max-width:790px) {
    .catalogo{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media screen and (max-width:530px) {
    .catalogo{
        grid-template-columns: repeat(1 , 1fr);
    }
}